
<div class="container-sm">
  <h1>Confirmación de compra</h1>
  <div class="mt-5">
    <h5>Nombre: <label>{{confirmar.name}}</label></h5>
    <h5>Apellidos: <label>{{ confirmar.apellido }}</label></h5>
    <h5>Correo electrónico: <label>{{ confirmar.email }}</label></h5>
    <h5>Estación de salida: <label>{{ confirmar.de }}</label></h5>
    <h5>Estación de llegada: <label>{{ confirmar.a }}</label></h5>
    <h5>Cantidad de tiquetes: <label>{{ confirmar.cantidad }}</label></h5>
    <h3>Precio final: <label></label>{{confirmar.precio}}</h3>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="">Comprar</button>
</div>
