<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && sendUser()" novalidate class="sign-up-form">
        <!--Name-->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 class="form-control"
                 name = "name"
                 placeholder="Your name" [(ngModel)]="user.name"
                 #name = "ngModel"
                 [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                 required/>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <div *ngIf="name.errors?.required">Name is not valid</div>
          </div>
        </div>
        <!--Email-->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name = "email"
                 placeholder="Your email" [(ngModel)]="user.email"
                 #email = "ngModel"
                 [ngClass]="{'is-invalid':f.submitted && email.invalid}"
                 required email/>
          <div *ngIf="f.submitted && email.invalid" class="invalid-input">
            <div *ngIf="email.errors?.required">Email is not valid</div>
          </div>
        </div>
        <!--PassWord-->
        <div class="form-group">
          <label for="psw">Password</label>
          <input type="text"
                 id="psw"
                 class="form-control"
                 name = "psw"
                 placeholder="Your password" [(ngModel)]="user.psw"
                 #psw = "ngModel"
                 [ngClass]="{'is-invalid':f.submitted && psw.invalid}"
                 required/>
          <div *ngIf="f.submitted && psw.invalid" class="invalid-input">
            <div *ngIf="psw.errors?.required">Password is not valid</div>
          </div>
        </div>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span>Submit</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
