<div class="container">
  <h1 style="padding:12px;background-color:blue">RailSpot Management</h1>
  <p></p>
  <p></p>
  <p></p>
  <h3>Active Tickets:</h3>
  <div style=padding:12px;background-color:gray;line-height:1.4;>
    <li *ngFor="let ticket of registros" >

      <ul>Client: {{ticket.name}}</ul>
      <ul>Arrive Station: {{ticket.a}}</ul>
      <ul>Departure Station: {{ticket.de}}</ul>
      <ul>Email: {{ticket.email}}</ul>
      <ul>Quantity of tickets: {{ticket.cantidad}}</ul>


    </li>
  </div>

</div>
